/* Landing Page */

/* Embed 'Roboto Regular 400' from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.hero-box, .card-box, .attention-box, .call-to-action-box {
  flex-grow: 1;
}

.header-box, .hero-box, .footer {
  background-color: #1f2937;
  color: #fff;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-box {
  justify-content: space-around;
}

.header-box ul {
  display: flex;
  list-style-type: none;
}

.header-box ul a {
  color: #fff;
  text-decoration: none;
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.hero-box div {
  flex-grow: 1;
  max-width: 400px;
}

.hero-box button {
  background-color: #3882f6;
  color: #fff;
  font-weight: bold;
}

.hero-box p {
  color: #e5e7eb;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  min-width: 175px;
  flex-basis: 200px;
}

.attention-box {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attention-box p {
  max-width: 600px;
}

.card-box {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.call-to-action-box {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.call-to-action-box div {
  max-width: 400px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 25px;
}